<div class="vehicle-card d-flex" [ngClass]="{'selected': selected}">
  <div class="margin-r-16">
    <img class="vehicle-image" [src]="vehicle.image">
  </div>
  <div class="margin-r-16">
    <div class="por-publicar">Por Publicar</div>
    <div class="azul-escuro">{{vehicle.make}} <b>{{vehicle.model}}</b></div>
    <div class="azul-escuro"><b>{{vehicle.series}}</b></div>
    <div class="info-text">
      <span>{{vehicle.year}}</span>
      <span class="divisor"></span>
      <span>{{vehicle.kms}} kms</span>
      <span class="divisor"></span>
      <span>{{vehicle.licensePlate}}</span>
      <span class="divisor"></span>
      <span>ID {{vehicle.id}}</span>
    </div>
  </div>
  <div class="ms-auto d-flex flex-column">
    <div class="text-end">
      <input class="form-check-input" type="checkbox" [(ngModel)]="selected">
    </div>
    <div>
      <div class="price-label">Particulares</div>
      <div class="price-value">{{vehicle.privatePrice}} €</div>
    </div>
    <div>
      <div class="price-label">Profissionais</div>
      <div class="price-value">{{vehicle.professionalPrice}} €</div>
    </div>
    <div class="mt-auto">
      <a class="btn btn-primary edit-btn" [routerLink]="[ '/edit/', vehicle.id]">Editar</a>
    </div>
  </div>

<!--  {{ vehicle | json }}-->
</div>


